body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.poster{
    color: white;
    font-family: serif;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}

.motivation-img{
    width: 100%;
    border: 5px solid white;
}